cohere==5.15.0
dotenv==0.9.9
Flask==3.1.1
flask-cors==6.0.0
numpy==2.2.6
pymongo==4.13.0
python-dotenv==1.1.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.3
tqdm==4.67.1
urllib3==2.4.0
Werkzeug==3.1.3
